@font-face {
    font-family: harmonia;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/HarmoniaSansProCyr-Regular.woff2) format("woff2"), url(../fonts/HarmoniaSansProCyr-Regular.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: harmonia;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/HarmoniaSansProCyr-SemiBd.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: harmonia;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/HarmoniaSansProCyr-Bold.woff2) format("woff2"), url(../fonts/HarmoniaSansProCyr-Bold.woff) format("woff");
    font-display: swap
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block;
    padding: 20px 0 0;
}


a {
    background-color: transparent
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible;
    cursor: pointer;
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

template {
    display: none
}

[hidden] {
    display: none
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}


textarea {
    resize: none
}

img {
    max-width: 100%;
    height: auto
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.constructor-screen-title {
    font-family: harmonia;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: #222222;
    margin: 40px 0;
}

/* Banner */

.banner {
    border-radius: 30px;
    background-color: #00afff;
    padding: 13% 60px;
    margin: 120px 0;
}

.banner__title {
    max-width: 580px;
    font-family: harmonia;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    margin: 0;
}

/* Constructor Navigation */

.constructor-navigation {
    display: flex;
    width: max-content;
    margin: 0 auto;
}

.constructor-navigation__step {
    min-width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
}

.constructor-navigation__step-count {
    font-family: harmonia;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.constructor-navigation__step-title {
    font-family: harmonia;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2%;
    text-align: center;
    color: #C4C4C4;
}

.constructor-navigation__step.active .constructor-navigation__step-count {
    border-color: #222222;
    color: #222222;
}

.constructor-navigation__step.active .constructor-navigation__step-title {
    color: #222222;
}

/* Purpose */

.purpose {
    margin: 40px 0;
}

.purpose-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.purpose-item {
    max-width: 380px;
    border: 2px solid #C4C4C4;
    border-radius: 20px;
    padding: 20px;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.purpose-item:hover,
.purpose-item:focus {
    box-shadow: 
        0 3.83px 4.725925922393799px 0 rgba(34, 34, 34, 0.04),
        0 18.1px 18.47407341003418px 0 rgba(34, 34, 34, 0.07),
        0 30px 35px 0 rgba(34, 34, 34, 0.05);
}

.purpose-item__title {
    font-family: harmonia;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    color: #222222;
    margin: 0;
}

.purpose-item-content {
    margin: 20px 0 16px 0;
}

.purpose-item-content__img {
    border-radius: 15px;
}

.purpose-item-content__text {
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;

    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    font-family: harmonia;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    color: #222222;
    margin: 0;
}

.purpose-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
}

.purpose-item__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #222222;
    transition: 0.3s ease-in-out;
}

.purpose-item__btn-text {
    font-family: harmonia;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: #222222;
    margin: 0;
}

.purpose-item__btn:hover .purpose-item__btn-icon,
.purpose-item__btn:focus .purpose-item__btn-icon {
    background-color: #888989;
}

.purpose-item.is-selected {
    border: 2px solid #00afff;
    cursor: default;
}

.purpose-item.is-selected .purpose-item__title {
    color: #00afff;
}

.purpose-item.selected:hover {
    box-shadow: none;
}

.purpose-item-content.is-active {
    position: relative;
}

.purpose-item-content.is-active .purpose-item-content__text {
    display: flex;
}

.purpose-item-content.is-active + .purpose-item__btn .purpose-item__btn-icon {
    transform: rotate(45deg);
}

/* Bottom Bar */

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#F0F0F0;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
}

.bottom-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.bottom-bar__title {
    font-family: harmonia;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: #888989;
    margin: 0;
}

.bottom-bar__btn {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;

    font-family: harmonia;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #888989;
    border: 2px solid #888989;
    border-radius: 5px;
    pointer-events: none;
}

.bottom-bar.is-active .bottom-bar__title {
    color: #222222;
}

.bottom-bar.is-active .bottom-bar__btn {
    color: #ffffff;
    border-color: #00afff;
    background-color: #00afff;
    pointer-events: auto;
}

/* Constructor Earplugs Content */
.constructor-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 0 100px;
    margin: 60px 0 0 0;
}

/* Constructor Earplugs Preview */
.constructor-earplugs-preview {
    max-width: 480px;
}

.earplugs-preview {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.earplugs-preview-img {
    position: relative;
    padding: 0 0 80px;
}

.earplugs-preview-img::before {
    position: absolute;
    content: '';
    width: 76px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(/markup/img/3d-icon.svg) center / contain no-repeat;
}

.earplugs-preview-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #C4C4C4;
    padding: 30px 0 0;
}

.earplugs-preview-info__text {
    font-family: harmonia;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    letter-spacing: 0.02em;
    color: #222222;
    margin: 0;
}

.earplugs-preview-info__text--link {
    text-decoration: none;
    color: #00afff;
}

/* Constructor Earplugs Options */
.constructor-earplugs-options {
    width: 580px;
}

.constructor-earplugs-options__title {
    font-family: harmonia;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

.earplug-options {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 46px 0 0 0;
}

.earplug-option {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.earplug-option__title {
    font-family: harmonia;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

/* Constructor Dropdown */
.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #C4C4C4;
    background: #ffffff;
}

.dropdown.closed {
    max-height: 82px;
}

.dropdown-item {
    border-bottom: 1px solid red;
    padding: 0 0 10px;
}

.dropdown-item:last-of-type {
    border: none;
    padding: 0;
}

.dropdown-item__label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown-item__img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;
}

.dropdown-item__text {
    font-family: harmonia;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02em;
}

/* Constructor Option */
.option-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.option-list--short {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.option-list--colors {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.option-item {
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    padding: 9px;
}

.option-item:not(:has(.option-item__img)) {
    padding: 20px;
}

.option-item__label {
    display: flex;
    gap: 10px;
    height: 100%;
    cursor: pointer;
}

.option-item__img {
    width: 60px;
    height: 60px;
}

.option-item__img img {
    object-fit: cover;
    border-radius: 12px;
}

.option-list--colors .option-item {
    border-color: transparent;
    padding: 0;
    cursor: pointer;
}

.option-list--colors .option-item:hover {
    border-color: #C4C4C4;
}

.option-list--colors .option-item__img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.option-list--colors .option-item__img img {
    object-fit: cover;
    border-radius: 10px;
}

.option-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.option-item__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: harmonia ;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222222;
    margin: 0;
}

.option-item__text span {
    font-family: harmonia;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222222;
    margin: 0;
}

.option-item__price {
    grid-area: price;
    font-family: harmonia;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #888989;
    margin: 0;
}

.earplug-option-controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 1px solid #C4C4C4;
    border-radius: 100px;
}

.earplug-option-controls__btn {
    font-family: harmonia;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #222222;
    background-color: transparent;
    border: none;
    padding: 11px 0;
}

/* Price Bar */

.price-bar {
    border-radius: 20px 20px 0px 0px;
    background: #f0f0f0;
    padding: 24px 0;
}

.price-bar-box {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.price-bar__total {
    font-family: harmonia;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: #222222;
    margin: 0 40px 0 auto;
}

.price-bar__next-step {
    border: 1px solid #00afff;
    border-radius: 5px;
    background: #00afff;
    color: #ffffff;
    font-family: harmonia;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

/* Equipment */

.equipment {
    border-radius: 20px 20px 0px 0px;
    background: #f0f0f0;
    border-bottom: 1px solid var(--Grey, rgba(196, 196, 196, 1));
    padding: 68px 0;
}

.equipment-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 45px 80px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.equipment-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #888989;
    padding: 0 0 7px;
}

.equipment-list-item__name,
.equipment-list-item__cost {
    font-family: harmonia;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: #222222;
}

.equipment-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: transparent;
    border: none;
    padding: 0;
}

.equipment-btn__icon {
    width: 32px;
    height: 32px;
    border: 1px solid #222222;
    border-radius: 50%;
}

.equipment-btn__text {
    font-family: harmonia;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    letter-spacing: 0.02em;
    color: #222222;
    margin: 0;
}

/* Casts */
.casts {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.casts-content {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding: 0 0 100px;
    margin: 60px 0 0 0;
}

.casts-earplugs-preview {
    max-width: 280px;
}

.casts-earplugs-preview .earplugs-preview-img {
    padding: 0 0 17px;
}

.casts-earplugs-preview .earplugs-preview-img::before {
    display: none;
}

.casts-earplugs-preview .earplugs-preview-info {
    padding: 24px 0 0;
}


.casts {
    width: 100%;
}

.casts__title {
    font-family: harmonia;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

.casts__description {
    font-family: harmonia;;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: rgba(136, 137, 137, 1);
    margin: 0;
}

/* Shops Info */

.shops {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.shops__subtitle {
    font-family: harmonia;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

.shops-triggers {
    display: flex;
    gap: 10px;
    align-items: center;
}

.shops-triggers__trigger {
    font-family: harmonia;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 100px;
    background-color: transparent;
    color: #222222;
    padding: 14px 24px 10px;
}

.shops-triggers__trigger.active {
    background-color: #00afff;
    border-color: #00afff;
    color: #ffffff;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.shop-content-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shop-content__inner-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.shop-content__title {
    font-family: harmonia;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

.shop-content__link {
    font-family: harmonia;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #222222;
    margin: 0;

}

.shop-metro__station,
.shop-content__address,
.shop-schedule__text {
    font-family: harmonia;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222222;
    margin: 0;
}

/* Form */
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.contact-details__subtitle {
    font-family: harmonia;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

.registration-input-block {
    position: relative;
    margin: 0 0 31px 0;
}

.registration-input-block input {
    font-family: harmonia;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    border-bottom: 1px solid #0f173f;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #222;
    cursor: pointer;
    background-color: #ffffff;
}

.registration-input-block label {
    font-family: harmonia;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(15, 23, 63, 0.3);
    margin: 0;
    position: absolute;
    top: -1px;
    left: 0;
    transition: 0.2s ease all;
    pointer-events: none;
}

.registration-input-block input::placeholder {
    color: transparent;
}

.registration-input-block input:focus + label,
.registration-input-block input:not(:placeholder-shown) + label,
.registration-input-block input:focus ~ label,
.registration-input-block input:not(:placeholder-shown) ~ label {
    transform: translateY(-16px);
    font-size: 12px;
}

.registration-input-block
    input[data-validate-field="phone"]:focus::placeholder {
    color: #e2e2e2;
}

.consent {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 24px;
}

.consent-input-block {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}

.consent-input-block input:checked + label::before {
    background-image: url(img/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 12px;
    -webkit-background-size: 16px 12px;
    background-color: #ffffff;
}

.consent-input-block label {
    width: 24px;
    height: 24px;
}

.consent-input-block label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 24px;
    height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #161616;
    border-radius: 5px;
}

.consent a {
    font-family: harmonia;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
    margin: 0;
}

.consent-input-block small {
    font-family: harmonia;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
    margin: 0 0 0 auto;
}

/* Additional Option */
.additional-options {
    display: flex;
    flex-direction: column;
    gap: 82px;
}


.additional-option {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.additional-option__title {
    font-family: harmonia;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #222222;
    margin: 0;
}

.additional-option-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.additional-option__label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 100px;
    padding: 12px 0 9px;
    cursor: pointer;
}

.additional-option__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.additional-option__text {
    font-family: harmonia;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222222;
}

.additional-option__price {
    font-family: harmonia;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222222;
    color: #888989;
}

.additional-option__text,
.additional-option__price {
    margin: 0;
}