@font-face {
    font-family: harmonia;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/HarmoniaSansProCyr-Regular.woff2) format("woff2"), url(../fonts/HarmoniaSansProCyr-Regular.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: harmonia;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/HarmoniaSansProCyr-SemiBd.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: harmonia;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/HarmoniaSansProCyr-Bold.woff2) format("woff2"), url(../fonts/HarmoniaSansProCyr-Bold.woff) format("woff");
    font-display: swap
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block;
    padding: 20px 0 0;
}


a {
    background-color: transparent
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

template {
    display: none
}

[hidden] {
    display: none
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}


textarea {
    resize: none
}

img {
    max-width: 100%;
    height: auto
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.constructor-screen-title {
    font-family: harmonia;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: #222222;
    margin: 40px 0;
}

/* Constructor Navigation */

.constructor-navigation {
    display: flex;
    width: max-content;
    margin: 0 auto;
}

.constructor-navigation__step {
    min-width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
}

.constructor-navigation__step-count {
    font-family: harmonia;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.constructor-navigation__step-title {
    font-family: harmonia;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2%;
    text-align: center;
    color: #C4C4C4;
}

.constructor-navigation__step.active .constructor-navigation__step-count {
    border-color: #222222;
    color: #222222;
}

.constructor-navigation__step.active .constructor-navigation__step-title {
    color: #222222;
}

/* Purpose */

.purpose {
    margin: 40px 0;
}

.purpose-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.purpose-item {
    max-width: 380px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 20px;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.purpose-item:hover,
.purpose-item:focus {
    box-shadow: 
        0 3.83px 4.725925922393799px 0 rgba(34, 34, 34, 0.04),
        0 18.1px 18.47407341003418px 0 rgba(34, 34, 34, 0.07),
        0 30px 35px 0 rgba(34, 34, 34, 0.05);
}

.purpose-item__title {
    font-family: harmonia;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    color: #222222;
    margin: 0;
}

.purpos-item-content {
    margin: 20px 0 16px 0;
}

.purpose-item-content__img {
    border-radius: 15px;
}

.purpose-item-content__text {
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;

    border-radius: 15px;
    padding: 20px;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    font-family: harmonia;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    color: #222222;
    margin: 0;
}

.purpose-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
}

.purpose-item__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #222222;
    transition: 0.3s ease-in-out;
}

.purpose-item__btn-text {
    font-family: harmonia;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: #222222;
    margin: 0;
}

.purpose-item__btn:hover .purpose-item__btn-icon,
.purpose-item__btn:focus .purpose-item__btn-icon {
    background-color: #888989;
}

.purpose-item.selected {
    border: 2px solid #00afff;
    cursor: default;
}

.purpose-item.selected .purpose-item__title {
    color: #00afff;
}

.purpose-item.selected:hover {
    box-shadow: none;
}

.purpos-item-content.active {
    position: relative;
}

.purpos-item-content.active .purpose-item-content__text {
    display: flex;
}

.purpos-item-content.active + .purpose-item__btn .purpose-item__btn-icon {
    transform: rotate(45deg);
}

/* Bottom Bar */

.bottom-bar {
    background-color:#F0F0F0;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
}

.bottom-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.bottom-bar__title {
    font-family: harmonia;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: #888989;
    margin: 0;
}

.bottom-bar__btn {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;

    font-family: harmonia;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #888989;
    border: 2px solid #888989;
    border-radius: 5px;
}

.bottom-bar.active .bottom-bar__title {
    color: #222222;
}

.bottom-bar.active .bottom-bar__btn {
    color: #ffffff;
    border-color: #00afff;
    background-color: #00afff;
}